<div class="container">
  <div class="jumbotron">
    <div class = "">
      <h1 class="display-3"><img src = "Full Logo.svg"></h1>
      <p class="lead">the Future of Healthcare Finance</p>
      <hr class="my-2">
      <p>The worker elves are working on building out the content for this page</p>
    </p>
  </div>
</div>
<div class = "container">
  <div class='col'>
    check
  </div>
  <div class='col'>
    check
  </div>
  <div class='col'>
    check
  </div>
</div>
