<div class="container">
  <div class="jumbotron" >
    <div style= "background-color:#ACE9FE; padding:50px">
      <h1 class="display-3"><img src = "Full Logo.svg"></h1>
      <p class="lead">the Future of Healthcare Finance</p>
      <hr class="my-2">
      <p>The worker elves are building out the content for this page</p>
      <p>In other news I developed that logo all by myself, pretty happy with it tbh</p>
    </p>
  </div>
</div>
<div class = "container" style= "background-color:#ACE9FE">
  <div class="row" style = "center">
    <div class='col' style = "text-align: center; margin: auto">
      <img src = "Patient.svg" >
    </div>
    <div class='col' style = "text-align: center; margin: auto">
      <img src = "Provider.svg" >
    </div>
    <div class='col' style = "text-align: center; margin: auto" >
      <img src = "Payer.svg" >
    </div>
  </div>
  <div class="row" style = "center">
    <div class='col' style = "text-align: center; margin: auto">
      Patient
    </div>
    <div class='col' style = "text-align: center; margin: auto">
      Provider
    </div>
    <div class='col' style = "text-align: center; margin: auto">
      Payer
    </div>
  </div>
</div>
